<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="400" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [5]:
import pandas as pd

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [6]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [7]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [9]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [10]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [9]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [11]:
# Find the number of duplicate rows
num_duplicates = df.duplicated().sum()

print(f'There are {num_duplicates} duplicate rows in the DataFrame.')

There are 154 duplicate rows in the DataFrame.

In [34]:
# Count occurrences of each value in the 'Respondent' column
value_counts = df['Respondent'].value_counts()

# Filter to find duplicates (values that appear more than once)
duplicates = value_counts[value_counts > 1]

# Calculate the total number of duplicate entries
total_duplicate_entries = duplicates.sum() - len(duplicates)

print(f'The total number of duplicate entries in the column \'Respondent\' is {total_duplicate_entries}.')

The total number of duplicate entries in the column 'Respondent' is 154.

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [12]:
# Remove duplicate rows
df_cleaned = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [13]:
print('Duplicate rows have been removed.')

Duplicate rows have been removed.

In [11]:
# Remove duplicate rows
df_cleaned = df.drop_duplicates()

# Count the number of rows remaining in the dataset
num_rows_remaining = len(df_cleaned)

print(f'After removing duplicate rows, there are {num_rows_remaining} rows in the dataset.')

After removing duplicate rows, there are 11398 rows in the dataset.

In [12]:
# Count the number of unique values in the 'Respondent' column
num_unique_respondents = df_cleaned['Respondent'].nunique()

print(f'After removing duplicate rows, there are {num_unique_respondents} unique rows in the column \'Respondent\'.')

After removing duplicate rows, there are 11398 unique rows in the column 'Respondent'.

In [13]:
# Remove duplicate rows
df_cleaned = df.drop_duplicates()

# Count the number of missing values in the 'EdLevel' column
missing_edlevel = df_cleaned['EdLevel'].isna().sum()

print(f'After removing duplicate rows, there are {missing_edlevel} blank rows under the column \'EdLevel\'.')

After removing duplicate rows, there are 112 blank rows under the column 'EdLevel'.

In [14]:
# Remove duplicate rows
df_cleaned = df.drop_duplicates()

# Count the number of missing values in the 'Country' column
missing_country = df_cleaned['Country'].isna().sum()

print(f'After removing duplicate rows, there are {missing_country} missing values in the column \'Country\'.')

After removing duplicate rows, there are 0 missing values in the column 'Country'.

In [15]:
# Find the majority category in the 'Employment' column
majority_category = df['Employment'].mode()[0]

print(f'The majority category under the column \'Employment\' is {majority_category}.')

The majority category under the column 'Employment' is Employed full-time.

In [16]:
# Count the occurrences of each category in the 'UndergradMajor' column
value_counts = df['UndergradMajor'].value_counts()

# Find the category with the minimum number of rows
min_category = value_counts.idxmin()
min_count = value_counts.min()

print(f'The category with the minimum number of rows under the column \'UndergradMajor\' is {min_category} with {min_count} rows.')

The category with the minimum number of rows under the column 'UndergradMajor' is A health science (ex. nursing, pharmacy, radiology) with 24 rows.

In [17]:
# Count the number of unique values in the 'CompFreq' column
num_unique_compfreq = df['CompFreq'].nunique()

print(f'There are {num_unique_compfreq} unique values in the column \'CompFreq\'.')

There are 3 unique values in the column 'CompFreq'.

In [18]:
# Remove duplicate rows
df_cleaned = df.drop_duplicates()

# Filter for respondents paid yearly
yearly_paid_respondents = df_cleaned[df_cleaned['CompFreq'] == 'Yearly']

# Count the number of respondents paid yearly
num_yearly_paid = len(yearly_paid_respondents)

print(f'After removing duplicate rows, there are {num_yearly_paid} respondents being paid yearly.')

After removing duplicate rows, there are 6073 respondents being paid yearly.

## Finding Missing values

Find the missing values for all columns.

In [14]:
# Find the number of missing values in each column
missing_values = df.isna().sum()

print('Missing values for each column:')
print(missing_values)

Missing values for each column:
Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       547
Ethnicity       683
Dependents      144
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

In [15]:
# Calculate the total number of missing values
total_missing_values = df.isna().sum().sum()

print(f'The total sum of missing values across all columns is {total_missing_values}.')

The total sum of missing values across all columns is 31381.

Find out how many rows are missing in the column 'WorkLoc'

In [16]:
# Calculate the number of missing values in the 'WorkLoc' column
missing_workloc = df['WorkLoc'].isna().sum()

print(f'The number of missing values in the column \'WorkLoc\' is {missing_workloc}.')

The number of missing values in the column 'WorkLoc' is 32.

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [17]:
# Get the value counts for the 'WorkLoc' column
value_counts = df['WorkLoc'].value_counts()

print('Value counts for the column \'WorkLoc\':')
print(value_counts)

Value counts for the column 'WorkLoc':
WorkLoc
Office                                            6905
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [18]:
# Identify the most frequent value(s) in the 'WorkLoc' column
most_frequent_value = df['WorkLoc'].mode()

print(f'The most frequent value(s) in the column \'WorkLoc\' is/are:')
print(most_frequent_value)

The most frequent value(s) in the column 'WorkLoc' is/are:
0    Office
Name: WorkLoc, dtype: object

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [25]:
# Identify the most frequent value in the 'WorkLoc' column
most_frequent_value = df['WorkLoc'].mode()[0]

# Impute missing values with the most frequent value
df['WorkLoc'].fillna(most_frequent_value, inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [26]:
print(f'Missing values in the column \'WorkLoc\' have been replaced with the most frequent value: {most_frequent_value}.')

Missing values in the column 'WorkLoc' have been replaced with the most frequent value: Office.

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [27]:
# List out the various categories in the 'CompFreq' column
comp_freq_categories = df['CompFreq'].unique()
print('Categories in the column \'CompFreq\':')
print(comp_freq_categories)

Categories in the column 'CompFreq':
['Yearly' 'Monthly' 'Weekly' nan]

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [20]:
# Normalize the compensation to an annual basis
def normalize_compensation(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        return None

# Apply the normalization function to create the new column
df['NormalizedAnnualCompensation'] = df.apply(normalize_compensation, axis=1)

print('Normalized annual compensation column has been created.')

Normalized annual compensation column has been created.

In [21]:
# Assume the 'NormalizedAnnualCompensation' column is already created
# If not, you need to create it using the normalization logic

# Calculate the median of the 'NormalizedAnnualCompensation' column
median_normalized_annual_compensation = df['NormalizedAnnualCompensation'].median()

print(f'The median NormalizedAnnualCompensation is {median_normalized_annual_compensation}.')

The median NormalizedAnnualCompensation is 100000.0.

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

 Copyright Â© 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).

<!--## Change Log

<!--| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |--!>